@import "normalize.scss";

html, body { height: 100%; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: sans-serif, arial;
    color: #21211f;
}
@media only screen and (max-width : 860px) {
  .mycontainer {
    width: 100%;
    #details-container {
      margin-bottom: 20px;
    }
  }
}
@media only screen and (min-width : 861px) {
  .mycontainer {
    width: 800px;

    .row {
      &.main {
        flex-direction: row;
        align-items: flex-end;

        #details-container {
          h1 {
            font-size: 5.5em;
          }
        }
      }
    }
  }
}


.mycontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  #sticker-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
#sticker {
  width: 250px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
  &.main {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &.actions {
    margin-bottom: 20px;
    justify-content: center;

    .action {
      width: 25px;
      height: 25px;
      margin: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#details-container{
  h1.name {
    text-align: center;
    font-size: 4em;
    font-family: 'Titillium Web', sans-serif, cursive;
    font-weight: bold;
    margin-bottom: 0px;
    color: black;
  }

  h2.designation {
    font-size: 1.4em;
    margin: 0 0 5px 0;
    color: #555;
    font-weight: normal;
  }

  h2.company {
    margin-top: 0;    

    a {
      color: #555;
      font-weight: 400;
      text-decoration: none;
    }
  }

  .description {
    text-align: center;
  }
}


.button {
    border: 1px solid #c669ff;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 0.6rem 2rem;
    text-decoration: none;
    font-family: sans-serif;
    color: #c669ff;
    text-transform: uppercase;

  &:hover {
    box-shadow: 0 0 2px #c669ff;
    color: #9b4dca;
  }
}